<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{cssPath}}" />
</head>

<body>
  <!--上-->
  <div style="height: 1px;"></div>

  <div class="user_top">
    <div class="user_top_left">
      <div class="user_top_right_font0">账号:{{uid}}</div>
      <div class="user_top_right_font1">道号:{{life.name}}</div>
      <div class="user_top_right_font"> 储物袋等级:{{backpack.grade}}</div>
      <div class="user_top_right_font2">
        灵石:{{backpack.lingshi}}/{{backpack.lingshimax}}
      </div>
    </div>
    <div class="user_top_right">
      <div class="user_top_img_bottom">
        <img class="user_top_img" src="https://q1.qlogo.cn/g?b=qq&s=0&nk={{uid}}" onerror="whenError(this)" />
      </div>
    </div>
  </div>

  <div class="user_bottom1">
    <div class="user_data">
      {{each backpack.thing item}}
      <div class="item_name">{{item.name}}</div>
      
      {{if item.id[0] == '1' || item.id[0] == '2' || item.id[0] == '3'}}
      <div class="equipment1">
        <div> 攻击:{{item.attack}}% </div>
        <div> 防御:{{item.defense}}% </div> 
        <div> 血量:{{item.blood}}% </div>
      </div>
      <div class="equipment2">
        <div> 暴击:{{item.burst}}% </div>
        <div> 暴伤:{{item.burstmax}}% </div>
        <div> 敏捷:{{item.speed}} </div>
      </div>
      {{/if}}

      {{if item.id[0] == '4'}} 
      <div class="danyao">
        <div> 血量:{{item.blood}}% </div>
        <div> 气血:{{item.experiencemax}} </div>
        <div> 修为:{{item.experience}} </div>
      </div>
      {{/if}}

      {{if item.id[0] == '5'}} 
      <div class="gongfa">
        <div> 天赋:{{item.size}}% </div>
      </div>
      {{/if}}

      <div class="price">
        <div> 数量:{{item.acount}} </div>
        <div> 价格:{{item.price}} </div>
      </div>
      {{/each}}

    </div>
  </div>

</body>

</html>